@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold_1.woff2') format('woff2'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold_1.woff') format('woff'),
        url('/assets/fonts/SegoeUI/SegoeUI-SemiBold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 Regular'), local('SourceSans3-Regular'),
        url('/assets/fonts/SourceSans/SourceSans3-Regular.woff2') format('woff2'),
        url('/assets/fonts/SourceSans/SourceSans3-Regular.woff') format('woff'),
        url('/assets/fonts/SourceSans/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: local('Source Sans 3 SemiBold'), local('SourceSans3-SemiBold'),
        url('/assets/fonts/SourceSans/SourceSans3-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/SourceSans/SourceSans3-SemiBold.woff') format('woff'),
        url('/assets/fonts/SourceSans/SourceSans3-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
